.hero {
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-bottom: 40px;
}
.back {
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.2s;
	font-size: 25px;
	color: white;
}
.back:hover {
	transform: scale(1.2);
}
.hero h2 {
	text-align: center;
	font-size: 30px;
}
.description {
	text-align: center;
	font-size: 17px;
}
.red {
	color: red;
	font-weight: bold;
	font-size: 18px;
}
.green {
	color: rgb(115, 249, 178);
	font-weight: bold;
	font-size: 18px;
}
.blue {
	color: rgb(0, 208, 255);
	font-weight: bold;
	font-size: 18px;
}